* {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}

body {
    background: hsl(217, 54%, 11%)
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.card-body {
    background: hsl(216, 50%, 16%) ;
    width: 375px;
}

.img-eth {
    margin: 20px 10%;
    width: 80%;

}





