* {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

body {
    background: hsl(217, 54%, 11%);
}

main {
    width: 300px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0px;
}

p {
    color: hsl(215, 51%, 70%);
}

h2 {
    color: hsl(178, 100%, 50%);
}

h4 {
    color: hsl(215, 51%, 70%);
    padding-top: 10px;
    font-size: 15px;
}

span {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 400;
    margin-left: 3px;
}
.card-body {
    background: hsl(216, 50%, 16%) ;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.img-eth {
    width: 300px;
    border-radius: 10px;
}


.img-user {
    width: 40px;
    border-radius: 50%;
}

.relevant {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    border-bottom: 1px solid hsl(215, 51%, 70%);
}

.value {
    display: flex;
    gap: 8px;
    font-weight: 600;
}

.time {
    display: flex;
    gap: 5px;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

.time img {
    width: 20px;
}

.footer {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

@media (min-width: 700px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}